.placeholder{
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.framer{
    position: absolute;
    top: 350px;
    left: 300px;
    width: 15%;
    height: 25%;
    object-fit: cover;
    z-index: -1;
}

.hackathon{
    position: absolute;
    top: 350px;
    right: 300px;
    width: 15%;
    height: 25%;
    object-fit: cover;
    z-index: -1;
}

body{
    background-color: beige;
}

.obvious{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}